@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-hero {
  background-image: url('./assets/hero.jpg');
  background-size: cover;
  background-position: center;
}


.Toastify__progress-bar--info-rainbow {
  background: linear-gradient(to right, #00bfff, #1e90ff, #4169e1, #6a5acd, #8a2be2);
}

.Toastify__progress-bar--success-rainbow {
  background: linear-gradient(to right, #32cd32, #7fff00, #adff2f, #ffd700, #ff8c00);
}

.Toastify__progress-bar--error-rainbow {
  background: linear-gradient(to right, #ff0000, #ff4500, #ff6347, #ff7f50, #ff8c00);
}